## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [26]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,0,zhangye,CN,38.9342,100.4517,67.26,overcast clouds,Zhangye Lvzhou Holiday Inn
1,2,san quintin,MX,30.4833,-115.9500,69.82,scattered clouds,Don Eddie's Sport Fishing Center
2,3,talnakh,RU,69.4865,88.3972,67.95,broken clouds,Talnakh Hotel
3,23,mahebourg,MU,-20.4081,57.7000,68.29,broken clouds,Shandrani Beachcomber Resort & Spa
4,26,hovd,MN,48.0056,91.6419,66.09,clear sky,Hotel Khovd

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
hotel_info
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

        Lat       Lng
0   38.9342  100.4517
1   30.4833 -115.9500
2   69.4865   88.3972
3  -20.4081   57.7000
4   48.0056   91.6419
5   39.1834  -84.5333
6  -20.4081   57.7000
7   59.7035   30.7861
8  -21.3585   55.7679
9  -33.0153   27.9116
10 -20.5167   57.5167
11  43.7094  -98.0298
12  28.6585  -17.9182
13  42.0970  -79.2353
14 -16.6228  -72.7111
15  42.0970  -79.2353
16 -20.3428   57.7575
17 -24.8667  113.6333
18  50.6996 -127.4199
19 -28.5708  -70.7581
20  58.1584   28.1858
21  42.0970  -79.2353
22 -23.1203 -134.9692
23 -20.5167   57.5167
24  42.0970  -79.2353
25 -20.3428   57.7575
26 -23.1203 -134.9692
27 -33.0153   27.9116
28  39.1834  -84.5333
29 -21.3585   55.7679
30  69.4865   88.3972
31 -20.3428   57.7575
32 -22.9661  -42.0278
33  41.3712  -73.4140
34  34.6391 -120.4579
35   4.4133   32.5678
36  46.8168  -64.0654
37  59.7035   30.7861
38 -21.3393   55.4781
39 -23.1203 -134.9692

In [13]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
# 4b. Display the figure

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

# "mahebourg"
vacation_start = vacation_df.loc[vacation_df["City"]=="port hardy"]
vacation_end = vacation_df.loc[vacation_df["City"]=="port hardy"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="mitchell"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="hamilton"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="san quintin"]

vacation_start

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
18,84,port hardy,CA,50.6996,-127.4199,60.98,broken clouds,Airport Inn

In [73]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# vacation_df.head()
vacation_start["Lat"].to_numpy()[0]
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end =  vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]
print(f'start:{start},end:{end}')
print(f'stop1:{stop1},stop2:{stop2},stop3:{stop3}')

start:(50.6996, -127.4199),end:(50.6996, -127.4199)
stop1:(43.7094, -98.0298),stop2:(39.1834, -84.5333),stop3:(30.4833, -115.95)

In [76]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itn = gmaps.directions_layer(start,end,waypoints = {stop1,stop2,stop3},travel_mode = "DRIVING")
fig.add_layer(itn)
fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

# vacation_start
# vacation_end
# vacation_stop1
# vacation_stop2
# vacation_stop3
# frames = [vacation_start, vacation_stop1, vacation_stop2,vacation_stop3,vacation_end]
# result = pd.concat(frames)

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,84,port hardy,CA,50.6996,-127.4199,60.98,broken clouds,Airport Inn
1,52,mitchell,US,43.7094,-98.0298,69.78,clear sky,Kelly Inn & Suites
2,32,hamilton,US,39.1834,-84.5333,66.61,clear sky,Six Acres Bed & Breakfast
3,130,hamilton,US,39.1834,-84.5333,66.61,clear sky,Six Acres Bed & Breakfast
4,2,san quintin,MX,30.4833,-115.9500,69.82,scattered clouds,Don Eddie's Sport Fishing Center
5,84,port hardy,CA,50.6996,-127.4199,60.98,broken clouds,Airport Inn

In [85]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [86]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))