## Deliverable 2. Create a Customer Travel Destinations Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
# import gmaps

# Configure gmaps API key
# gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,talnakh,RU,69.4865,88.3972,64.90,45,17,1.34,few clouds,2021-08-06 21:48:02
1,busselton,AU,-33.6500,115.3333,49.05,73,36,14.67,scattered clouds,2021-08-06 21:48:02
2,pisco,PE,-13.7000,-76.2167,66.25,68,0,13.80,clear sky,2021-08-06 21:48:03
3,jamestown,US,42.0970,-79.2353,83.52,61,40,11.50,scattered clouds,2021-08-06 21:46:55
4,samarai,PG,-10.6167,150.6667,77.58,78,97,11.41,overcast clouds,2021-08-06 21:48:03

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input('Enter minimum temperature:'))
max_temp = float(input('Enter maximum temperature:'))

Enter minimum temperature:60
Enter maximum temperature:70

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

mask =(city_data_df["Max Temp"] >= min_temp ) & (city_data_df["Max Temp"] <= max_temp)
city_data_filtered_df =city_data_df.loc[mask]
city_data_filtered_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,talnakh,RU,69.4865,88.3972,64.90,45,17,1.34,few clouds,2021-08-06 21:48:02
2,pisco,PE,-13.7000,-76.2167,66.25,68,0,13.80,clear sky,2021-08-06 21:48:03
10,caravelas,BR,-17.7125,-39.2481,67.32,86,90,8.14,overcast clouds,2021-08-06 21:48:05
16,saint-philippe,RE,-21.3585,55.7679,65.75,76,73,12.62,light rain,2021-08-06 21:48:07
44,pyrzyce,PL,53.1462,14.8926,61.86,62,63,8.30,broken clouds,2021-08-06 21:48:15
56,college,US,64.8569,-147.8028,65.08,87,90,8.05,moderate rain,2021-08-06 21:47:56
73,llangefni,GB,53.2556,-4.3106,60.58,88,75,26.46,haze,2021-08-06 21:48:22
80,mar del plata,AR,-38.0023,-57.5575,60.82,30,0,3.00,clear sky,2021-08-06 21:47:58
81,mar del plata,AR,-38.0023,-57.5575,60.82,30,0,3.00,clear sky,2021-08-06 21:47:58
88,conceicao da barra,BR,-18.5933,-39.7322,68.97,70,60,9.95,broken clouds,2021-08-06 21:48:26
93,simao,CN,22.7886,100.9748,64.96,99,100,1.59,overcast clouds,2021-08-06 21:48:27
114,tambura,SS,5.6000,27.4667,68.09,98,96,4.05,light rain,2021-08-06 21:48:33
126,rio grande,BR,-32.0350,-52.0986,60.91,87,100,11.03,overcast clouds,2021-08-06 21:48:36
141,hay river,CA,60.8156,-115.7999,69.78,64,75,8.05,broken clouds,2021-08-06 21:46:11
152,manyoni,TZ,-5.7467,34.8382,63.52,64,4,6.76,clear sky,2021-08-06 21:48:42
157,cidreira,BR,-30.1811,-50.2056,61.18,92,100,17.31,overcast clouds,2021-08-06 21:48:42
167,carnarvon,AU,-24.8667,113.6333,62.67,60,90,5.75,overcast clouds,2021-08-06 21:48:45
172,cidreira,BR,-30.1811,-50.2056,61.18,92,100,17.31,overcast clouds,2021-08-06 21:48:42
177,juneau,US,58.3019,-134.4197,60.85,95,90,5.01,light rain,2021-08-06 21:48:48

In [14]:
# 4a. Determine if there are any empty rows.
city_data_filtered_df.isnull()
# city_data_filtered_df.dropna()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False,False,False
80,False,False,False,False,False,False,False,False,False,False
81,False,False,False,False,False,False,False,False,False,False
88,False,False,False,False,False,False,False,False,False,False
93,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,False
126,False,False,False,False,False,False,False,False,False,False
141,False,False,False,False,False,False,False,False,False,False
152,False,False,False,False,False,False,False,False,False,False
157,False,False,False,False,False,False,False,False,False,False
167,False,False,False,False,False,False,False,False,False,False
172,False,False,False,False,False,False,False,False,False,False
177,False,False,False,False,False,False,False,False,False,False

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = city_data_filtered_df.dropna()

clean_df.head(5)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,talnakh,RU,69.4865,88.3972,64.90,45,17,1.34,few clouds,2021-08-06 21:48:02
2,pisco,PE,-13.7000,-76.2167,66.25,68,0,13.80,clear sky,2021-08-06 21:48:03
10,caravelas,BR,-17.7125,-39.2481,67.32,86,90,8.14,overcast clouds,2021-08-06 21:48:05
16,saint-philippe,RE,-21.3585,55.7679,65.75,76,73,12.62,light rain,2021-08-06 21:48:07
44,pyrzyce,PL,53.1462,14.8926,61.86,62,63,8.30,broken clouds,2021-08-06 21:48:15

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Lat", "Lng", "Max Temp", "Current Description"]].copy()
hotel_df

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,talnakh,RU,69.4865,88.3972,64.90,few clouds,
2,pisco,PE,-13.7000,-76.2167,66.25,clear sky,
10,caravelas,BR,-17.7125,-39.2481,67.32,overcast clouds,
16,saint-philippe,RE,-21.3585,55.7679,65.75,light rain,
44,pyrzyce,PL,53.1462,14.8926,61.86,broken clouds,
56,college,US,64.8569,-147.8028,65.08,moderate rain,
73,llangefni,GB,53.2556,-4.3106,60.58,haze,
80,mar del plata,AR,-38.0023,-57.5575,60.82,clear sky,
81,mar del plata,AR,-38.0023,-57.5575,60.82,clear sky,
88,conceicao da barra,BR,-18.5933,-39.7322,68.97,broken clouds,

In [20]:
# Import API key
from config1 import g_key

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for ind in hotel_df.index:
    # 6c. Get latitude and longitude from DataFrame
    location =str(hotel_df["Lat"][ind]) + ","+ str(hotel_df["Lng"][ind])

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    params["location"] = location

    # 6e. Make request and retrieve the JSON data from the search. 
    google_response = requests.get(base_url, params=params).json()
    
    try:
        # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        hotel_df.loc[ind, "Hotel Name"] = google_response["results"][0]["name"]
#         If an error is experienced, skip the city.
    except:
        print("Hotel not found. Skipping...")
        pass


        
hotel_df

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,talnakh,RU,69.4865,88.3972,64.90,few clouds,Talnakh Hotel
2,pisco,PE,-13.7000,-76.2167,66.25,clear sky,Hotel San Isidro Oficial
10,caravelas,BR,-17.7125,-39.2481,67.32,overcast clouds,Pousada dos Navegantes
16,saint-philippe,RE,-21.3585,55.7679,65.75,light rain,"Chambres d'hôte ""La Trinité"""
44,pyrzyce,PL,53.1462,14.8926,61.86,broken clouds,Caesar's Residence
56,college,US,64.8569,-147.8028,65.08,moderate rain,Pike's Waterfront Lodge
73,llangefni,GB,53.2556,-4.3106,60.58,haze,Bull Hotel
80,mar del plata,AR,-38.0023,-57.5575,60.82,clear sky,Gran Hotel Mar del Plata
81,mar del plata,AR,-38.0023,-57.5575,60.82,clear sky,Gran Hotel Mar del Plata
88,conceicao da barra,BR,-18.5933,-39.7322,68.97,broken clouds,Cricaré Praia Hotel
93,simao,CN,22.7886,100.9748,64.96,overcast clouds,Changyu Hotel
114,tambura,SS,5.6000,27.4667,68.09,light rain,Rikito Lodge
126,rio grande,BR,-32.0350,-52.0986,60.91,overcast clouds,Hotel Atlântico Rio Grande
141,hay river,CA,60.8156,-115.7999,69.78,broken clouds,Ptarmigan Inn
152,manyoni,TZ,-5.7467,34.8382,63.52,clear sky,bm lodge bm lodge
157,cidreira,BR,-30.1811,-50.2056,61.18,overcast clouds,Hotel Castelo
167,carnarvon,AU,-24.8667,113.6333,62.67,overcast clouds,Hospitality Carnarvon
172,cidreira,BR,-30.1811,-50.2056,61.18,overcast clouds,Hotel Castelo
177,juneau,US,58.3019,-134.4197,60.85,light rain,"Baranof Downtown, Bw Signature Collection"

In [21]:
# 7. Drop the rows where there is no Hotel Name.

valid_hotelname_mask =(hotel_df["Hotel Name"] != '')
clean_hotel_df = hotel_df.loc[valid_hotelname_mask]
clean_hotel_df

# hotel_df["Hotel Name"][72]

# import numpy as np
# hotel_df["Hotel Name"].replace('',np.nan, inplace=true)
# clean_hotel_df = hotel_df.dropna()
# clean_hotel_df

# hotel_df

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,talnakh,RU,69.4865,88.3972,64.90,few clouds,Talnakh Hotel
2,pisco,PE,-13.7000,-76.2167,66.25,clear sky,Hotel San Isidro Oficial
10,caravelas,BR,-17.7125,-39.2481,67.32,overcast clouds,Pousada dos Navegantes
16,saint-philippe,RE,-21.3585,55.7679,65.75,light rain,"Chambres d'hôte ""La Trinité"""
44,pyrzyce,PL,53.1462,14.8926,61.86,broken clouds,Caesar's Residence
56,college,US,64.8569,-147.8028,65.08,moderate rain,Pike's Waterfront Lodge
73,llangefni,GB,53.2556,-4.3106,60.58,haze,Bull Hotel
80,mar del plata,AR,-38.0023,-57.5575,60.82,clear sky,Gran Hotel Mar del Plata
81,mar del plata,AR,-38.0023,-57.5575,60.82,clear sky,Gran Hotel Mar del Plata
88,conceicao da barra,BR,-18.5933,-39.7322,68.97,broken clouds,Cricaré Praia Hotel
93,simao,CN,22.7886,100.9748,64.96,overcast clouds,Changyu Hotel
114,tambura,SS,5.6000,27.4667,68.09,light rain,Rikito Lodge
126,rio grande,BR,-32.0350,-52.0986,60.91,overcast clouds,Hotel Atlântico Rio Grande
141,hay river,CA,60.8156,-115.7999,69.78,broken clouds,Ptarmigan Inn
152,manyoni,TZ,-5.7467,34.8382,63.52,clear sky,bm lodge bm lodge
157,cidreira,BR,-30.1811,-50.2056,61.18,overcast clouds,Hotel Castelo
167,carnarvon,AU,-24.8667,113.6333,62.67,overcast clouds,Hospitality Carnarvon
172,cidreira,BR,-30.1811,-50.2056,61.18,overcast clouds,Hotel Castelo
177,juneau,US,58.3019,-134.4197,60.85,light rain,"Baranof Downtown, Bw Signature Collection"

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:

import gmaps
import gmaps.datasets

# import pandas as pd
# clean_hotel_df = pd.read_csv ('WeatherPy_vacation.csv')

#Configure gmaps API key

gmaps.configure(api_key="AIzaSyChVCJxll9MPC7pBdDIHtlGis-embdBV8M")
# Add a heatmap of temperature for the vacation spots.

# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))