## Deliverable 3. Create a Travel Itinerary Map.

In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [31]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,0,vaini,TO,-21.2000,-175.2000,77.16,broken clouds,Keleti Beach Resort
1,1,hermanus,ZA,-34.4187,19.2345,52.90,light rain,Misty Waves Boutique Hotel
2,2,hermanus,ZA,-34.4187,19.2345,52.90,light rain,Misty Waves Boutique Hotel
3,3,atuona,PF,-9.8000,-139.0333,78.04,few clouds,Villa Enata
4,4,arraial do cabo,BR,-22.9661,-42.0278,68.25,clear sky,Pousada Porto Praia

In [32]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
hotel_info
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0   -21.2000 -175.2000
1   -34.4187   19.2345
2   -34.4187   19.2345
3    -9.8000 -139.0333
4   -22.9661  -42.0278
..       ...       ...
100  57.7900 -152.4072
101 -42.8794  147.3294
102  68.7500  161.3000
103 -42.8794  147.3294
104  -0.7393  -90.3518

[105 rows x 2 columns]

In [33]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
# 4b. Display the figure

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

# "mahebourg"
vacation_start = vacation_df.loc[vacation_df["City"]=="westport"]
vacation_end = vacation_df.loc[vacation_df["City"]=="westport"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="rockland"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="worcester"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="jamestown"]

# vacation_start

In [35]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# vacation_df.head()
vacation_start["Lat"].to_numpy()[0]
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end =  vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]
print(f'start:{start},end:{end}')
print(f'stop1:{stop1},stop2:{stop2},stop3:{stop3}')

start:(41.1415, -73.3579),end:(41.1415, -73.3579)
stop1:(41.1668, -74.0496),stop2:(42.3334, -71.8328),stop3:(42.097, -79.2353)

In [40]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itn = gmaps.directions_layer(start,end,waypoints = {stop1,stop2,stop3},travel_mode = "DRIVING")
fig.add_layer(itn)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

# vacation_start
# vacation_end
# vacation_stop1
# vacation_stop2
# vacation_stop3
# frames = [vacation_start, vacation_stop1, vacation_stop2,vacation_stop3,vacation_end]
# result = pd.concat(frames)

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,62,westport,US,41.1415,-73.3579,72.63,overcast clouds,The Westport Inn
1,138,rockland,US,41.1668,-74.0496,70.97,overcast clouds,National Camp Association
2,160,worcester,US,42.3334,-71.8328,71.42,overcast clouds,Classic Suites & Inns
3,90,jamestown,US,42.0970,-79.2353,73.04,clear sky,Hampton Inn & Suites Jamestown
4,100,jamestown,US,42.0970,-79.2353,73.04,clear sky,Hampton Inn & Suites Jamestown
5,62,westport,US,41.1415,-73.3579,72.63,overcast clouds,The Westport Inn

In [38]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))