In [ ]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [ ]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [ ]:
# Getting the first row of measurment table to get columns
Measurement_row = session.query(Measurement).first()
Measurement_row.__dict__

In [ ]:
# Getting the first row of station table to get columns
Station_row = session.query(Station).first()
Station_row.__dict__

## D1: Determine the Summary Statistics for June

In [ ]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = []
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()
for r in results:
    print(r)
len(results)

In [ ]:
#  3. Convert the June temperatures to a list.
june_temp = []
for temp in results:
    june_temp.append(temp[0])

In [ ]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temp, columns=["June Temps"])

In [ ]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

## D2: Determine the Summary Statistics for December

In [ ]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = []
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()
for r in results:
    print(r)
len(results)

In [ ]:
# 7. Convert the December temperatures to a list.
dec_temp = []
for temp in results:
    dec_temp.append(temp[0])

In [ ]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temp, columns=["December Temps"])

In [ ]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

## ADDITIONAL QUERIES

In [16]:
June_results = session.query(Measurement.tobs).\
    filter(Measurement.date >= '2017-06-01').\
    filter(Measurement.date <= '2017-06-30').\
    order_by(Measurement.date).all()

for result in June_results:
    print(result)

len(June_results)

(79.0,)
(76.0,)
(81.0,)
(79.0,)
(80.0,)
(74.0,)
(79.0,)
(76.0,)
(78.0,)
(79.0,)
(81.0,)
(76.0,)
(79.0,)
(76.0,)
(80.0,)
(79.0,)
(76.0,)
(74.0,)
(79.0,)
(78.0,)
(79.0,)
(81.0,)
(77.0,)
(77.0,)
(80.0,)
(76.0,)
(81.0,)
(78.0,)
(78.0,)
(75.0,)
(74.0,)
(79.0,)
(75.0,)
(80.0,)
(80.0,)
(78.0,)
(75.0,)
(74.0,)
(79.0,)
(75.0,)
(81.0,)
(80.0,)
(78.0,)
(75.0,)
(79.0,)
(80.0,)
(76.0,)
(79.0,)
(78.0,)
(77.0,)
(75.0,)
(75.0,)
(80.0,)
(78.0,)
(81.0,)
(80.0,)
(78.0,)
(72.0,)
(77.0,)
(75.0,)
(78.0,)
(75.0,)
(74.0,)
(72.0,)
(79.0,)
(73.0,)
(79.0,)
(81.0,)
(74.0,)
(76.0,)
(83.0,)
(76.0,)
(79.0,)
(80.0,)
(74.0,)
(74.0,)
(80.0,)
(76.0,)
(75.0,)
(81.0,)
(77.0,)
(76.0,)
(73.0,)
(80.0,)
(76.0,)
(79.0,)
(78.0,)
(80.0,)
(74.0,)
(74.0,)
(78.0,)
(77.0,)
(78.0,)
(77.0,)
(78.0,)
(75.0,)
(77.0,)
(79.0,)
(76.0,)
(80.0,)
(78.0,)
(80.0,)
(73.0,)
(74.0,)
(80.0,)
(77.0,)
(78.0,)
(77.0,)
(79.0,)
(72.0,)
(77.0,)
(72.0,)
(77.0,)
(78.0,)
(75.0,)
(77.0,)
(80.0,)
(77.0,)
(78.0,)
(78.0,)
(78.0,)
(72.0,)
(76.0,)
(78.0,)
(75.0,)
(79.0,)
(77.0,)
(72.0,)
(74.0,)
(79.0,)
(82.0,)
(76.0,)
(80.0,)
(74.0,)
(75.0,)
(80.0,)
(77.0,)
(81.0,)
(80.0,)
(72.0,)
(76.0,)
(78.0,)
(76.0,)
(76.0,)
(76.0,)
(79.0,)
(72.0,)
(71.0,)
(80.0,)
(74.0,)
(82.0,)
(77.0,)
(73.0,)
(80.0,)
(73.0,)
(80.0,)
(71.0,)
(79.0,)
(81.0,)
(77.0,)
(80.0,)
(82.0,)
(81.0,)
(73.0,)
(79.0,)
(80.0,)
(77.0,)
(80.0,)
(81.0,)
(76.0,)
(74.0,)
(79.0,)
(77.0,)
(80.0,)
(79.0,)
(77.0,)
(74.0,)
(79.0,)
(76.0,)
(76.0,)
(79.0,)
(78.0,)
(76.0,)
(76.0,)
(75.0,)
(74.0,)
(81.0,)
(74.0,)
(75.0,)
(76.0,)
(75.0,)

191

In [17]:
june_2017 = []
for temp in June_results:
    june_2017.append(temp[0])

In [18]:
june_2017_df = pd.DataFrame(june_2017, columns=["June 2017 Temps"])

In [19]:
june_2017_df.describe()

       June 2017 Temps
count       191.000000
mean         77.219895
std           2.622538
min          71.000000
25%          75.000000
50%          77.000000
75%          79.000000
max          83.000000

In [20]:
December_results = session.query(Measurement.tobs).\
    filter(Measurement.date >= '2016-12-01').\
    filter(Measurement.date <= '2016-12-31').\
    order_by(Measurement.date).all()

for result in December_results:
    print(result)

len(December_results)

(75.0,)
(73.0,)
(75.0,)
(72.0,)
(76.0,)
(74.0,)
(71.0,)
(72.0,)
(71.0,)
(77.0,)
(70.0,)
(75.0,)
(70.0,)
(71.0,)
(69.0,)
(71.0,)
(75.0,)
(75.0,)
(72.0,)
(67.0,)
(71.0,)
(69.0,)
(77.0,)
(75.0,)
(70.0,)
(76.0,)
(68.0,)
(68.0,)
(76.0,)
(68.0,)
(70.0,)
(67.0,)
(67.0,)
(67.0,)
(70.0,)
(74.0,)
(70.0,)
(67.0,)
(67.0,)
(69.0,)
(71.0,)
(76.0,)
(71.0,)
(74.0,)
(69.0,)
(68.0,)
(73.0,)
(72.0,)
(75.0,)
(70.0,)
(73.0,)
(70.0,)
(71.0,)
(70.0,)
(70.0,)
(72.0,)
(70.0,)
(68.0,)
(68.0,)
(70.0,)
(71.0,)
(76.0,)
(72.0,)
(69.0,)
(68.0,)
(70.0,)
(72.0,)
(78.0,)
(69.0,)
(69.0,)
(66.0,)
(68.0,)
(75.0,)
(70.0,)
(67.0,)
(66.0,)
(65.0,)
(67.0,)
(68.0,)
(72.0,)
(68.0,)
(69.0,)
(65.0,)
(70.0,)
(70.0,)
(70.0,)
(72.0,)
(68.0,)
(71.0,)
(68.0,)
(69.0,)
(66.0,)
(70.0,)
(75.0,)
(68.0,)
(74.0,)
(62.0,)
(64.0,)
(62.0,)
(63.0,)
(69.0,)
(66.0,)
(63.0,)
(75.0,)
(60.0,)
(71.0,)
(71.0,)
(75.0,)
(76.0,)
(70.0,)
(73.0,)
(67.0,)
(74.0,)
(76.0,)
(69.0,)
(67.0,)
(69.0,)
(69.0,)
(78.0,)
(71.0,)
(71.0,)
(76.0,)
(72.0,)
(77.0,)
(74.0,)
(77.0,)
(76.0,)
(76.0,)
(76.0,)
(73.0,)
(74.0,)
(72.0,)
(76.0,)
(73.0,)
(77.0,)
(74.0,)
(70.0,)
(71.0,)
(70.0,)
(72.0,)
(70.0,)
(73.0,)
(73.0,)
(68.0,)
(72.0,)
(69.0,)
(73.0,)
(68.0,)
(71.0,)
(71.0,)
(69.0,)
(74.0,)
(73.0,)
(74.0,)
(78.0,)
(74.0,)
(69.0,)
(74.0,)
(74.0,)
(78.0,)
(74.0,)
(69.0,)
(74.0,)
(74.0,)
(74.0,)
(75.0,)
(72.0,)
(71.0,)
(74.0,)
(73.0,)
(74.0,)
(75.0,)
(71.0,)
(71.0,)
(71.0,)
(71.0,)
(73.0,)
(71.0,)
(72.0,)
(72.0,)
(71.0,)
(73.0,)
(72.0,)
(73.0,)
(71.0,)
(77.0,)
(74.0,)
(69.0,)
(69.0,)
(69.0,)
(71.0,)
(68.0,)
(72.0,)
(69.0,)
(65.0,)
(66.0,)
(71.0,)
(72.0,)
(67.0,)
(65.0,)

200

In [21]:
dec_2016 = []
for temp in December_results:
    dec_2016.append(temp[0])

In [22]:
dec_2016_df = pd.DataFrame(dec_2016, columns=["December 2016 Temps"])

In [23]:
dec_2016_df.describe()

       December 2016 Temps
count           200.000000
mean             71.130000
std               3.419292
min              60.000000
25%              69.000000
50%              71.000000
75%              74.000000
max              78.000000